body {
  overflow-x: hidden;
}

.swiper {
  width: 85vw;
  height: 45rem;
  position: relative;
}

.swiper-button-prev:after, .swiper-button-next:after {
  color: #FFBA08;
}

.swiper-pagination .swiper-pagination-bullet{
  width: 12px;
  height: 12px;
}

.swiper-pagination .swiper-pagination-bullet-active{
  background: #FFBA08;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: flex-start;

  padding-top: 18rem;

  cursor: pointer;
}

.swiper-slide:nth-child(1) {
  background: linear-gradient(0deg, rgba(28, 20, 1, 0.35), rgba(28, 20, 1, 0.35)), url('../../public/assets/continents/europa.jpg') center / cover;
}

.swiper-slide:nth-child(2) {
  background: linear-gradient(0deg, rgba(28, 20, 1, 0.35), rgba(28, 20, 1, 0.35)), url('../../public/assets/continents/americaDoSul.jpg') center / cover;
}

.swiper-slide:nth-child(3) {
  background: linear-gradient(0deg, rgba(28, 20, 1, 0.35), rgba(28, 20, 1, 0.35)), url('../../public/assets/continents/americaDoNorte.jpg') top / cover;
}

.swiper-slide:nth-child(4) {
  background: linear-gradient(0deg, rgba(28, 20, 1, 0.35), rgba(28, 20, 1, 0.35)), url('../../public/assets/continents/australia.jpg') center / cover;
}

.swiper-slide:nth-child(5) {
  background: linear-gradient(0deg, rgba(28, 20, 1, 0.35), rgba(28, 20, 1, 0.35)), url('../../public/assets/continents/asia.jpg') center / cover;
}

.swiper-slide:nth-child(6) {
  background: linear-gradient(0deg, rgba(28, 20, 1, 0.35), rgba(28, 20, 1, 0.35)), url('../../public/assets/continents/africa.jpg') bottom / cover;
}

@media (max-width: 480px) {
  .swiper {
    height: 25rem;
  }

  .swiper-slide {
    padding-top: 11rem;
  }
}